html {
    font-size: calc(100vw / 1440);
}

body {
    font-family: var(--font-primary);
    font-size: 16rem;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.block--intro {
    position: relative;
    z-index: 1;
}

.media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 24rem;
}

.media__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: lightgray;
}

.media__caption {
    position: relative;
    width: 221rem;
    font-size: 14rem;
    text-transform: uppercase;
    text-align: center;
}
